.text_color_yellow{
    color: #FEB211 !important;
}

.text_semi_black{
    color: #595959 !important;
}

.background_yellow{
    background-color: #FEB211 !important;
}

.background_blue {
    background-color: #0597F2 !important;
}

input.ant-input {
    border: 1px solid #1990fe;
    padding: 12px !important;
}

.ant-select-selector {
    border: 1px solid #3097f2 !important;
    height: 46px !important;
    padding: 7px !important;
}