.text_color_yellow{
    color: #FEB211 !important;
}

.text_semi_black{
    color: #595959 !important;
}

.background_yellow{
    background-color: #FEB211 !important;
}

.background_blue {
    background-color: #0597F2 !important;
}